extends layout

block content
    nav#messages
        table
            thead
                th From
                th To
                th Subject
                th Received
            tbody