extends layout

block content
    nav
        table
            thead
                th To
                th From
                th Subject
                th Date
            tbody
    .details