extends layout

block content
    h1 /mail/null
    nav
        table
            thead
                th.to To
                th.from From
                th.subject Subject
                th.date Date
            tbody
    pre.details