doctype 5
html
  head
    title= '/mail/null'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/socket.io/socket.io.js')
    script(src='/react/react-with-addons.js')
    script(src='/javascripts/list.jsx')
    script(src='/javascripts/details.jsx')
    script(src='/javascripts/client.jsx')