doctype 5
html
  head
    title= 'mail/null'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/jquery/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/underscore/underscore-min.js')
    script(src='/backbone/backbone-min.js')
    script(src='/backbone.stickit/backbone.stickit.js')
    script(src='/backbone-deep-model/distribution/deep-model.min.js')
    script(src='/javascripts/client.js')