body
  padding: 0px 20px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

h1
  font-family: monospace

table
  width: 100%;
  border-collapse: collapse

th
  background-color: rgb(37, 38, 30)
  color: #fff
  font-weight: normal

td
  background-color: #eee
  cursor: pointer

th
td
  padding: 8px
  text-align: left;

.to
.from
.date
  width: 20%
  white-space: nowrap;

.subject
  width: 40%

.active-mail
  background-color: #ccc