body {
  padding: 0 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: monospace;
}
.details-content {
  width: 100%;
  display: block;
  border: 1px solid #808080;
}
