sidebar-width = 340px
line-height = 1.5

/* ---- */

*,
*:before,
*:after
  box-sizing: border-box;

html, body, #app
  margin: 0
  padding: 0
  height: 100%

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.app
  display: table


.app,
.details
  height: 100%
  min-height: 100%
  width: 100%

button
  height: 30px

button.warn
  background-color: #f44336;
  color:white;

.menu
  display: table-row
  height: 50px

.menu ul
  list-style-type: none

.sidebar
  display: table-cell
  width: sidebar-width

.sidebar ul
  list-style-type: none
  padding: 0
  margin: 0
  height: 100%
  overflow-y: auto

.message
  border-top: 1px solid transparent
  border-bottom: 1px solid #e8e9ec
  padding: 10px
  overflow: hidden
  line-height: line-height
  cursor: pointer;

.message .from
  font-weight: bold

.message .from,
.message .subject
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

.message .date
  font-size: 80%

.message.selected
  background-color: #eee
  border-color: #b8babb
  box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.10);

.details
  border-left: 1px solid #a7a7a7
  width: auto
  overflow-y: auto
  display: block

.details-header
  margin: 10px
  margin-top: 0
  background-color: #e6e6e6
  border-radius: 5px
  padding: 10px
  overflow: hidden
  line-height: line-height

details-label-width = 100px

.details-header dt
  float:left
  width: details-label-width
  text-align: right
  padding-right: 10px

.details-header dd
  margin-left: details-label-width

.details-header .address:after
  content: "; "

.details-header .address:last-child:after
  content: ""

.iframe-container
  margin: 10px
  border: 1px solid #a7a7a7

.details-content
  width: 100%
  display: block

.attachment
  padding-right: 15px

.attachment-name
  padding-right: 5px

.attachment-size
  color: gray

.details-footer
   margin: 10px
   overflow: hidden
   line-height: 1.5
   font-size: 12px

.details-footer a
  margin-right: 10px

.headers-container
  margin: 10px
  overflow: hidden
  line-height: 1.5
  border: 1px solid #a7a7a7

.headers-container dt
  float: left
  width: 250px
  text-align: right
  padding-right: 10px
  font-weight: bold

.headers-container dd
  margin-left: 250px
